version: "3.9"

services:
  app:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_NAME: testdb
      DB_USER: devops
      DB_PASSWORD: devops
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: devops
      POSTGRES_PASSWORD: devops
      POSTGRES_DB: testdb
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
